.env
*.env
.env.local
venv/
env/
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.log
logs_consultas.txt
data/*
!data/readme.md
annotations/*
!annotations/readme.md
test/*
!test/readme.md

# Modelos y datasets (muy pesados para que no suban al repositorio)
resultados/modelo_*/        # Ignorar modelos
resultados/fold_*/           # Ignorar checkpoints
!resultados/graficos/   
!resultados/*.npy            
!resultados/*.txt            
datasets_layoutlmv3/         

# Outputs temporales
resultados_json/

# IDE
.vscode/
*.ipynb_checkpoints/
*.ipynb